*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.header{
    background-color: bisque;
    text-align: center;
    margin-bottom: 3rem;
    padding-block: 0.7rem; 
}

.container {
    width: 30%;
    padding: 0.7rem;
    margin: auto;
}

.image-container {
    text-align: center;
    margin: 20px 0px 12px 0px;
}

.logo {
    width: 60%;   
}

input[type=text], input[type=password] {
    width: 100%;
    display: inline-block;
    padding: 0.3rem;
    margin: 8px 0px;
}

button {
    background-color: black;
    color: white;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    margin-bottom: 0.7rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

button:hover {
    opacity: 0.8;
}


a {
    text-decoration: none;
    color: black;

}

.menu {
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;
}

.menu-card {
    
    border-radius: 6px;
    width: fit-content;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,2);
    transition: 0.3s;
}

img.icon {
    width: 380px;
    height: 300px;
    object-fit: cover;
}

.menu-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

table  {
    width: 100%;
    padding: 24px 12px;
}